/*Hoja de estilos*/
* {
    margin: 0;
    padding: 0;
}

/*El * es el selector global, con esto eliminamos los bordes de la pagina*/

nav {
    display: flex;/*Modo FlexBox*/
    justify-content: space-around;/*Alineacion horizontal*/
    align-items: center;
    background-color:gray;
}

nav img {
    width: 150px;
    /*Cambiamos el ancho de la imagen dentro del nav*/
}

nav a {
    color:beige;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500; /*Grosor del texto*/
    padding: 15px; /*Espacio dentro del enlace*/
    border-radius: 15px; /*Bordes redondeados*/
    transition: 0.6s; /*Tiempo para volver al estado normal*/
}

nav a:hover{
    background-color: black; /*Color de fondo al pasar el mouse*/
    scale: 1.1; /*Aumentar el tamaño del enlae al pasar el mouse*/
    transition: 0.6s; /*Tiempo de duracion de la animacaión*/
}